{% extends 'global/base.html' %}

{% block title %} Login {% endblock %}
{% block content %}
    <div class="main-content center container">
        <h2> Login </h2>
        {% if request.user.is_authenticated %}
            <div>
                You are logged in as {{ request.user.username}}.
                <form action="{% url 'authors:logout_view' %}" method="POST">
                    {% csrf_token %}
                    <button class="plaintext-button" type="submit">Logout</button>
                </form>
            </div>
        {% endif %}
    </div>
    {% include 'global/partials/messages.html' %}
    {% include 'global/partials/form.html' %}
{% endblock content %}